.proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 125px;
}

.proyectos h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #010101;
  border-bottom: 2px solid #FF5722;
}

.tarjeta-proyecto img {
  border-radius: 15px; 
  margin-bottom: 1rem;
  object-fit: cover;
  margin-left: 25px;
  border: 0.05px solid #afaeae; 
}
.contenedor-proyectos {
  display: flex;
  gap: 35px;
  flex-direction: row;
  align-items: stretch; /* Asegura que todas las tarjetas tengan la misma altura */
}

.tarjeta-proyecto {
  background-color: rgba(255, 255, 255, 0.352);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 390px;
  flex: 1; /* Permite que todas las tarjetas ocupen el mismo espacio */
  display: flex;
  flex-direction: column; /* Mantiene el orden vertical de los elementos dentro de la tarjeta */
  justify-content: space-between; /* Espacia los elementos dentro de cada tarjeta */
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta-proyecto:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.titulo-proyecto {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #010101;
}

.detalle-proyecto-app {
  font-size: 1rem;
  color: #010101;
  padding: 0px 20px;
}

.detalle-proyecto {
  font-size: 1rem;
  color: #010101;
  padding: 0px 24px;
}

.imagen-proyecto-1, .imagen-proyecto-2 {
  max-width: 90%;
}

.enlace-proyecto {
  display: inline-block;
  padding: 14px 18px;
  font-size: 1rem;
  color: #010101;
  background-color: #ff6e42;
  border-radius: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
}

.enlace-proyecto:hover {
  background-color: #FF5722;
}

.tecnologias {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #010101;
}

.tecnologias li {
  margin: 0.3rem;
  background-color: rgba(0, 123, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

@media (max-width: 768px) {
  .proyectos {
    padding: 10px 20px;
    margin-top: 85px;
  }

  .detalle-proyecto-app {
    padding: 0px 20px;
  }

  .contenedor-proyectos {
    gap: 30px; 
    flex-direction: column;
  }

  .tarjeta-proyecto {
    padding: 23px;
    border-radius: 30px; 
    align-items: center;
  }

  .detalle-proyecto{
    padding: 0px 12px;
  }

  .imagen-proyecto-1 {
    width: 89%;
    height: 137px;
    display: block;
    margin: 0 25px
  }

  .imagen-proyecto-2 {
    height: 50%;
    margin-right: 25px;
  }

  .titulo-proyecto {
    font-size: 1.2rem;
  }

  .tecnologias li {
    font-size: 1rem;
    padding: 5px 11px;
  }
}

@media (min-width: 1920px) {

  .proyectos {
    margin-top: 220px;
    margin-bottom: 50px;
  }

  .proyectos h1 {
    font-size: 3.5rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #010101;
    border-bottom: 2px solid #FF5722;
  }

  .tarjeta-proyecto {
    max-width: 700px; /* Aumenta el ancho de la tarjeta */
    padding: 30px 20px; 
    align-items: center;
    border-radius: 30px;
  }

  .titulo-proyecto {
    font-size: 2.5rem;
    color: #010101;
    margin-top: 20px;
    margin-bottom: 1rem;
  }

  .detalle-proyecto-app {
    font-size: 2rem;
    padding: 0px 20px;
  }

  .detalle-proyecto {
    font-size: 2rem;
    padding: 0px 29px;
  }

  .enlace-proyecto {
    font-size: 1.5rem;
  }

  .tarjeta-proyecto img {
    border: 0.05px solid #afaeae; 
    border-radius: 30px;
    margin-bottom: 1rem;
    object-fit: cover;
  }

  .tecnologias li {
    font-size: 1.5rem;
    padding: 5px 11px;
  }
  .imagen-proyecto-1 {
    width: 90%;
    height: 50%;
    display: block;
    margin: 0 25px
  }
  .imagen-proyecto-2 {
    height: 50%;
    margin-right: 25px;
    display: block;
    width: 90%;
  }

}