body {
    margin: 0;
    padding: 0;
}

.timeline {
    border-left: 2px solid #FF5722;
    position: relative;
}

.timeline-item {
    position: relative;
    padding: 11px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -7px;
    top: 14px;
    width: 14px;
    height: 14px;
    background-color: #FF5722;
    border-radius: 50%;
}

.date {
    font-weight: bold;
    color: #010101;
    margin-bottom: 5px;
    display: block;
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 53px;
    margin: 0 auto;
    max-width: 1200px;
    background: linear-gradient(to right, #f5c6a5, #f1a470);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.about-page h1 {
    font-size: 1.8rem; 
    margin-bottom: 20px;
    color: #010101;
    border-bottom: 2px solid #FF5722;
    display: inline-block;
}

.bio-texto {
    font-size: 1.05rem;
    line-height: 1.8;
    text-align: left; 
    color: #010101;
    margin-bottom: 30px;
}


.enlace-cv {
    display: inline-block; 
    text-decoration: none;
    font-size: 1rem;
    color: #010101; 
    background-color: #ff6e42; 
    padding: 14px 18px;
    border-radius: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.enlace-cv:hover {
    background-color: #FF5722; 
    transform: scale(1.05);
}

.contenedor-about {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 120px;
    margin-top: 145px;
    margin-bottom: 15px;
    max-width: 900px;
}

/* Responsive */
@media (max-width: 992px) {
    .about-page {
        margin: 20px;
        padding: 25px;
        max-width: 89%;
    }

    .about-page h1 {
        font-size: 1.5rem;
    }

    .bio-texto {
        font-size: 0.9rem;
    }

    .enlace-cv {
        font-size: 0.9rem;
        padding: 10px 14px;
    }

    .contenedor-about {
        flex-direction: column;
        align-items: center;
        gap: 55px;
        margin-bottom: -1px;
    }

    .timeline {
        position: relative;
        margin-top: -40px;
        padding-left: 6px;
        max-width: 300px;
    }

    .timeline-item {
        padding: 8px 8px;
    }

    .timeline-item::before {
        content: '';
        position: absolute;
        left: -12px; 
        top: 12px;
        width: 12px; 
        height: 12px;
        background-color: #FF5722;
        border-radius: 50%;
    }

    .date {
        font-weight: bold;
        font-size: 1rem; 
        color: #010101;
        margin-bottom: 8px;
    }
}

/* Responsive para pantallas grandes (4K) */
@media (min-width: 1920px) {
    .about-page {
        padding: 50px;
        margin-top: 120px;
    }

    .about-page h1 {
        font-size: 3.5rem;
    }

    .bio-texto {
        font-size: 2rem;
    }

    .enlace-cv {
        font-size: 2rem;
        padding: 16px 24px;
    }

    .contenedor-about {
        display: flow-root;
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .timeline {
        margin-top: 80px;
        padding-left: 11px;
        max-width: 800px;
    }

    .timeline-item {
        padding: 12px 20px;
    }

    .timeline-item::before {
        left: -20px; 
        top: 20px;
        width: 20px; 
        height: 20px;
        background-color: #FF5722;
    }

    .date {
        font-weight: bold;
        font-size: 4dvh; 
        color: #010101;
        margin-bottom: 12px;
    }

    .timeline-item p {
        font-size: 2rem;
    }
}
