.hamburger-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    padding: 0 20px;
    z-index: 2000;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 45px; 
    z-index: 2000;
}

.text {
    font-size: 1.2rem;
    color: #010101;
    margin-left: 0; /* Alinea al extremo derecho */
}
.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 23px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;
}

.line {
    width: 30px;
    height: 2px;
    background-color: #010101;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger-button.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-button.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger-button.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-content {
    position: fixed; /* Fijo al viewport */
    top: 60px;
    right: 30px;
    width: 200px;
    background: #fff;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    visibility: hidden; /* Oculta visualmente el contenido */
    pointer-events: none; /* Deshabilita la interacción */
}

.menu-content.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Habilita la interacción */
    transform: translateY(0); /* Resetea el movimiento */
}

.menu-item {
    display: block;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }

    .text-hamburger {
        margin-left: 22px;
        margin-top: -12px;
    }
}