.hamburger-menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 32px; 
    z-index: 2000;
    margin-top: 35px;
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #010101;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger-button.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-button.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger-button.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-content {
    position: fixed; /* Fijo al viewport */
    top: 65px;
    right: 50px;
    width: 200px;
    background: #fff;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.menu-content.open {
    opacity: 1;
    visibility: visible;
}

.menu-item {
    display: block;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }
}