.proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 125px;
}

.proyectos h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #010101;
  border-bottom: 2px solid #FF5722;
}

.tarjeta-proyecto img {
  border-radius: 15px; 
  margin-bottom: 1rem;
}

.contenedor-proyectos {
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.tarjeta-proyecto {
  background-color: rgba(255, 255, 255, 0.352);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta-proyecto:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.titulo-proyecto {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #010101;
}

.detalle-proyecto-app {
  font-size: 1rem;
  color: #010101;
  padding: 0px 45px;
}

.detalle-proyecto {
  font-size: 1rem;
  color: #010101;
  padding: 0px 45px;
}

.imagen-proyecto {
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.enlace-proyecto {
  display: inline-block;
  padding: 14px 18px;
  font-size: 1rem;
  color: #010101;
  background-color: #ff6e42;
  border-radius: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
}

.enlace-proyecto:hover {
  background-color: #FF5722;
}

.tecnologias {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #010101;
}

.tecnologias li {
  margin: 0.3rem;
  background-color: rgba(0, 123, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

@media (max-width: 768px) {
  .proyectos {
    padding: 10px 20px;
    margin-top: 85px;
  }

  .detalle-proyecto-app {
    padding: 0px 12px;
  }

  .contenedor-proyectos {
    gap: 30px; 
    flex-direction: column;
  }

  .tarjeta-proyecto {
    padding: 25px;
    border-radius: 30px; 
  }

  .detalle-proyecto{
    padding: 0px 12px;
  }
}

@media (min-width: 2560px) {

  .proyectos {
    margin-top: 220px;
    margin-bottom: 50px;
  }

  .proyectos h1 {
    font-size: 3.5rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #010101;
    border-bottom: 2px solid #FF5722;
  }

  .contenedor-proyectos {
    gap: 50px;
    flex-direction: row;
  }

  .tarjeta-proyecto {
    max-width: 1000px;
    padding: 50px 5px;
    border-radius: 30px; 
  }

  .tarjeta-proyecto img {
    border-radius: 15px;
  }

  .imagen-proyecto-1 {
    width: 60%;
    height: 50%;
  }

  .imagen-proyecto-2 {
    width: 60%;
    height: 50%;
  } 

  .titulo-proyecto {
    font-size: 2.5rem;
  }

  .detalle-proyecto, .detalle-proyecto-app {
    font-size: 2rem;
    margin-top: 20px;
  }

  .enlace-proyecto {
    font-size: 2rem;
    padding: 18px 24px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .tecnologias li {
    margin-top: 15px;
    font-size: 2rem;
    padding: 10px 15px;
  }
}