* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Evita el scroll horizontal */
    overscroll-behavior: none; /* Evita el efecto de rebote en dispositivos táctiles */
}

body {
    margin: 0;
    background: linear-gradient(to top, #ffd6cc, #ffc4b3, #ffddb0, #fbebd2);
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    touch-action: manipulation;
    user-select: none;
    pointer-events: auto;
}
.small-text {
    font-size: 1.5rem; 
}
  
.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.image-container {
    margin-top: 145px;
    width: 450px;
    height: 450px;
    background-image: url('/images/DinaAmsterdam.webp');
    background-size: cover;
    border-radius: 5%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    animation: moveBackground 30s ease-in-out infinite; /* Movimiento suave */
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.overlay-text {
    color: #010101;
    padding: 20px;
    font-size: 2.7rem;
    max-width: 550px;
    width: 80%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: relative;
}

.highlight {
    color: #FF5722;
}

.bottom-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: #010101; 
    background-color: #ff6e42;
    padding: 14px 18px; 
    margin-right: 45px;
    border-radius: 16px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.bottom-link:hover {
    background-color: #FF5722; 
    transform: translateY(-3px);
}

.text {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

@media (max-width: 758px) {

    .html, body{
        scroll-behavior: smooth;
        overflow-x: hidden;
        overscroll-behavior: none;
        touch-action: manipulation;
        user-select: none;
        pointer-events: auto;
    }

    .text {
        margin-top: 16px;
    }
    
    .content-container {
        width: 90%; 
        flex-wrap: wrap;
        margin-left: -1px;
    }

    .image-container {
        margin-top: 104px;
        height: 380px;
        max-width: 89%;
    }

    .overlay-text {
        font-size: 1.3rem; 
        padding: 10px 32px; 
        margin-top: 20px; 
    }

    .small-text {
        font-size: 1.2rem; 
    }

    .bottom-link {
        font-size: 0.9rem; 
        padding: 10px 14px; 
        margin-left: 33px;
    }

}

@media (min-width: 2028px) {
    
    .text {
        width: 50%;
    }
    .small-text {
        font-size: 3rem; 
    }

    .content-container {
        flex-wrap: nowrap; 
    }

    .image-container {
        height: 650px;
        width: 650px;
        margin-top: 250px;;
    }

    .overlay-text {
        font-size: 3rem;
        padding: 40px 20px;
        margin-top: 80px; 
    }

    .bottom-link {
        font-size: 2rem;
        padding: 16px 24px;
    }
}