* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

body {
    margin: 0;
    background: linear-gradient(to top, #ffd6cc, #ffc4b3, #ffddb0, #fbebd2);
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido hacia la izquierda */
    width: 90%; /* Ajusta el ancho general */
    max-width: 1200px; /* Limita el tamaño máximo */
}

.image-container {
    margin-top: 120px;
    width: 500px; /* Tamaño fijo de la imagen */
    height: 500px; /* Igual al ancho para mantener proporción */
    background-image: url('/images/sun6.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Asegura que la imagen se adapte al contenedor */
    background-repeat: no-repeat; /* Evita repeticiones */
    border-radius: 10%; /* Bordes redondeados para hacerlo circular */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
}

.overlay-text {
    color: #010101;
    font-size: 1.2rem;
    padding: 40px 50px;
    max-width: 600px;
    width: 80%;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: relative;
}

/* Ajuste del diseño responsivo */
@media (max-width: 768px) {
    .overlay-text {
        font-size: 1.5rem;
        padding: 15px 20px;
    }
}