* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

body {
    margin: 0;
    background: linear-gradient(to top, #ffd6cc, #ffc4b3, #ffddb0, #fbebd2);
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.small-text {
    font-size: 1.5rem; 
}
  
.content-container {
    display: flex;
    align-items: center;
    width: 76%;
    gap: 50px; 
}

.image-container {
    margin-top: 120px;
    width: 650px; 
    height: 500px;
    background-image: url('/images/sun4.jpg');
    background-size: cover;
    border-radius: 5%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.overlay-text {
    color: #010101;
    font-size: 2.7rem;
    padding: 47px 47px;
    max-width: 700px;
    width: 80%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: relative;
    margin-top: 80px;
}

.highlight {
    color: #FF5722;
}

.bottom-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: #010101; 
    background-color: #ff6e42;
    padding: 14px 18px; 
    border-radius: 16px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.bottom-link:hover {
    background-color: #FF5722; 
    transform: translateY(-3px);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {

    html, body {
        overflow-x: hidden;
    }

    .text {
        margin-left: 27px;
    }

    .content-container {
        flex-direction: column;
        gap: 10px; 
        width: 120%; 
        flex-wrap: wrap;
    }

    .image-container {
        margin-top: 100px; 
        height: 350px;
        max-width: 70%;
    }

    .overlay-text {
        font-size: 1.5rem; 
        padding: 15px 20px; 
        margin-top: 20px; 
    }

    .bottom-link {
        font-size: 0.9rem; 
        padding: 10px 14px; 
    }
}