.footer {
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Espaciado entre elementos */
    height: 150px; /* Ajusta según necesites */
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre enlaces */
    margin-bottom: 10px;
}

.footer-nav a:hover {
    color: #ffd700;
}

.footer-nav-link {
    color: #4caf50;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease; /* Transición de color */
}

footer p {
    font-size: 0.9em;
    margin: 0;
    opacity: 0.7; /* Transparencia */
}
