.navbar {
    background: linear-gradient(to right, #ffcc70, #f6d365);
    color: #fff;
    padding: 30px 50px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    width: 90%; 
    max-width: 700px; 
    z-index: 1000; 
    position: fixed;
    top: 15px;
}

nav ul.navegacion {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: -9px;
    gap: 30px;
}

nav ul.navegacion li {
    margin: 0 15px;
}

.nav-link {
    color: #010101;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: #ff6f61;
    transform: scale(1.1); 
}
